.board {
  width: 500px;
  display: block;
  margin: 50px auto;
}
.card {
  width: 100px;
  height: 100px;
  float: left;
  border: 1px solid black;
  margin: 10px;
}
.card:hover{
  cursor: pointer;
}
.card.open{
  pointer-events:none;
}
.red{
  background: red;
}
.blue{
  background: blue;
}
.orange{
  background: orange;
}
.black{
  background: black;
}
.gray{
  background: gray;
}
.green{
  background: green;
}
.yellow{
  background: yellow;
}
.brown{
  background: brown;
}